<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Prescription</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" type="text/css">
    <!--<link rel="stylesheet" href="file:///F:/fontawesome-free-5.15.3-web/css/all.css"> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
    <nav>
        <div class="logo"><span class="highlight">JenGold </span>Hospital</div>
        <ul>
            <li><a href="{{url_for('home')}}" class="highlight">Home</a></li>
            <li><a href="{{url_for('history')}}">Patient History</a></li>
            <li><a href="{{url_for('prescribe')}}">Prescribe</a></li>
        </ul>
    </nav>
    <div class="wrapper">
        <div class="title">
            Prescription
        </div>
		<form method="POST" action="/createPDF">
			<div class="form">
				<div class="input_field">
					<label for="">Aadhar ID</label>
					<input type="text" name="aadharid" id="aadharid" class="input" value="{{aadharid}}">
				</div>
				<div class="input_field">
					<input type="submit" value="Check" class="button" formaction="/check">
				</div>
				
				<div class="input_field">
					<label for="">Name</label>
					<input type="text" id="name" name="name" value="{{name}}" class="input">
				</div>
                <div class="input_field">
					<label for="">Age</label>
					<input type="text" id="age" name="age" value="{{age}}" class="input">
				</div>
				<div class="input_field">
					<label for="">Address</label>
					<input type="text" id="address" name="address" value="{{address}}" class="input">
				</div>
				<div class="input_field">
					<label for="">Mail ID</label>
					<input type="text" id="email" name="email" value="{{email}}" class="input">
				</div>
				<div class="input_field">
					<label for="">Date</label>
					<input type="date" id="date" name="date" value="{{date}}" class="input">
				</div>
				<div class="input_field">
					<input type="submit" value="Confirm Details" class="button" formaction="/confirmDetails">
				</div>
				<div class="input_field">
					<label for="">Disease</label>
					<a href="/disease"><img src="{{url_for('static', filename='images/mike1.png')}}" width="50" height="47"></a>
					<input type="text" id="disease" name="disease" value="{{disease}}" class="input">
				</div>
				<div class="input_field">
					<input type="submit" value="Recommend" class="button" formaction="/recommend">
				</div>
				<div class="p-3" id="table">
		            <table class="table table-hover">
			            <thead class="thead-dark">
				            <tr>
					            <th scope="col">Recommendations</th>
				            </tr>
			            </thead>
			            <tbody>
			                {%for med in meds%} 
			                    <tr>
					                <td scope="row"><a href="/assignMed/{{med}}">{{med}}</a></td>
				                </tr>
                            {% endfor %}
			           </tbody>                  
		            </table>
	            </div>
	            <div class="input_field">
					<label for="">Medicine</label>
					<a href="/medicine"><img src="{{url_for('static', filename='images/mike1.png')}}" width="50" height="47"></a>
					<input type="text" id="medicine" name="medicine" value="{{medicine}}" class="input">
				</div>
				<div class="input_field">
					<label for="">Dosage</label>
					<a href="/dosage"><img src="{{url_for('static', filename='images/mike1.png')}}" width="50" height="47"></a>
					<input type="text" id="dosage" name="dosage" value="{{dosage}}" class="input">
				</div>
				<div class="input_field">
					<input type="submit" value="Add" formaction="/add" class="button">
				</div>
				<div class="input_field">
					<label for="">Signature Image</label>
					<input type="file" id="signimage" name="signimage" class="input">
				</div>
				<div class="input_field">
					<input type="submit" value="Create PDF" class="button">
				</div>
				
			</div>
		</form>
    </div>
    
    <footer>
        <div class="footer">
            <div class="inner-footer">
                <div class="footer-items"> 
                    <h1 class="about">About Us</h1>
                    <p>A voice prescription developed by engineering students as a web application.</p>

                </div>

                <div class="footer-items"> 
                    <h2>Quick Links</h2>
                    <div class="borde"></div>
                    <ul>
                        <li><a href="{{url_for('home')}}">Home</a></li>
                        <li><a href="{{url_for('history')}}">Patient History</a></li>
                    </ul>
                </div> 

                <div class="footer-items"> 
                    <h2>Our Mission</h2>
                    <div class="borde"></div>
                    <ul>
                        <li><a href="{{url_for('prescribe')}}">Prescribe</a></li>
                    </ul>
                </div>

                <div class="footer-items"> 
                    <h2>Contact Us</h2>
                    <div class="borde"></div>
                    <ul>
                        <li><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>20,ABC Street,Chennai</li>
                        <li><i class="fa fa-phone fa-lg" aria-hidden="true"></i>1234567890</li>
                        <li><i class="fa fa-envelope fa-lg" aria-hidden="true"></i>support@jengoldhospital.com</li>
                        <li></li>
                    </ul>
                    <div class="social-media">
                        <a href=""><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
                        <a href=""><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </div>

            </div>
            <div class="footer-bottom">
                Copyright &copy; JenGold Hospital 2021.All rights reserved.
            </div>
        </div>
    </footer>
</body>


</html>
